/var/log/awslogs.log {

    {%- if ansible_os_family == 'Ubuntu' %}

    su root root

    {%- endif %}

    missingok
    notifempty
    size 100M
    create 0600 root root
    delaycompress
    compress
    rotate 4
    postrotate
        service awslogs restart
    endscript
}
