#!/bin/sh

PIDFILE={{ awslogs_setup_pid_file }}
LOCKFILE={{ awslogs_setup_lock_file }}

# Bail out if PID file doesn't exist. It implies that the
# process was never started.
if [ ! -f $PIDFILE ]
then
    exit 0
fi

{{ awslogs_setup_nanny_ps }} -C -p `{{ awslogs_setup_nanny_cat }} $PIDFILE` | \
{{ awslogs_setup_nanny_grep }} "{{ awslogs_setup_awslogs_launcher }}" > /dev/null
RETVAL=$?
echo
[ $RETVAL != 0 ] && [ -f $LOCKFILE ] && {{ awslogs_setup_nanny_service }} awslogs restart

